<td><a href="/#/log/replay/{{agent}}/{{action}}/{{id}}">{{agent}}</a></td>
<td><a href="/#/log/replay/{{agent}}/{{action}}/{{id}}">{{action}}</a></td>
<td>{{formatted_created_at}} ({{age_created_at}})</td>
<td>{{owner}}</td>