<%= form_for(@app_setting) do |f| %>
  <% if @app_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_setting.errors.count, "error") %> prohibited this app_setting from being saved:</h2>

      <ul>
      <% @app_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :set_key %><br>
    <%= f.text_field :set_key %>
  </div>
  <div class="field">
    <%= f.label :set_val %><br>
    <%= f.text_field :set_val %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
