<ul>
	{{#if hasPrevPage}}
	<li>
		<a data-page="{{prevPageIdx}}" href="/#/page/{{prevPage}}">«</a>
		{{else}}
	<li class="disabled">
		<a href="#">«</a>
		{{/if}}
	</li>

	{{#each pages}}
	{{#if isCurrent}}
	<li class="active">
	{{else}}
	<li>
	{{/if}}
		<a data-page="{{idx}}" href="/#/page/{{display}}">{{display}}</a>
	</li>
	{{/each}}

	{{#if hasNextPage}}
	<li>
		<a data-page="{{nextPageIdx}}" href="/#/page/{{nextPage}}">»</a>
	{{else}}
	<li class="disabled">
		<a href="#">»</a>
	{{/if}}
	</li>
</ul>