<!DOCTYPE html>

<!--
 ~ Copyright 2013 ajf http://github.com/ajf8
 ~
 ~ Licensed to the Apache Software Foundation (ASF) under one
 ~ or more contributor license agreements.  See the NOTICE file
 ~ distributed with this work for additional information
 ~ regarding copyright ownership.  The ASF licenses this file
 ~ to you under the Apache License, Version 2.0 (the
 ~ "License"); you may not use this file except in compliance
 ~ with the License.  You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "MCollective" %></title>
		<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "MCollective" %>">
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag :application %>
		<%= csrf_meta_tags %>
		<%= yield(:head) %>
		<script type="text/javascript">
			MCM.remoteConfig = <%= !APP_CONFIG['client'].nil? ? APP_CONFIG['client'].to_json.html_safe : "{ }" %>;
			<% if signed_in? -%>
			MCM.currentUser = new MCM.Models.User(<%= current_user.to_json.html_safe %>);
			<% else -%>
			MCM.currentUser = null;
			<% end -%>
		</script>
	</head>
	<body class="<%= controller_name %> <%= action_name %>">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<% if signed_in? -%>
					<a class="brand" href="/#/">MCollective</a>
					<% else -%>
					<a class="brand" href="/">MCollective</a>
					<% end -%>
					
					<div id="agentsToolbar"></div>
					<div id="collectivesToolbar"></div>
					<div id="applicationsToolbar" style="display:none;"></div>
					<div id="loggedInBar"></div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				<% if signed_in? -%>
				<div class="span3" id="menuContent">
				<% else -%>
				<div class="span3" style="display:none;" id="menuContent">
				<% end -%>
					<div class="accordion" id="accordion2">
						<div class="accordion-group" id="applicationsList" style="display:none;"></div>
						<div class="accordion-group" id="agentsList"></div>
						<div class="accordion-group" id="collectivesList"></div>
						<div class="accordion-group" id="nodesList"></div>
					</div>
				</div>
				<% if signed_in? -%>
				<div class="span9" id="mainContent">
				<% else -%>
				<div class="span12" id="mainContent">
				<% end -%>
					<%= yield %>
				</div>
			</div>

			<hr/>

			<footer>
				<p>
					<a href="http://www.mcomaster.org/">mcomaster</a>
				</p>
			</footer>
	</body>
</html>
